fontsFolderMuseoSans = '../fonts/museosans/'
fontsFolderMuseo = '../fonts/museo/'

@font-face
  font-family 'MuseoSans-300'
  src url(fontsFolderMuseoSans + '2AD11A_1_0.eot')
  src url(fontsFolderMuseoSans + '2AD11A_1_0.eot?#iefix') format('embedded-opentype'),
  url(fontsFolderMuseoSans + '2AD11A_1_0.woff') format('woff'),
  url(fontsFolderMuseoSans + '2AD11A_1_0.ttf') format('truetype')

@font-face
  font-family 'MuseoSans-300Italic'
  src url(fontsFolderMuseoSans + '2AD11A_6_0.eot')
  src url(fontsFolderMuseoSans + '2AD11A_6_0.eot?#iefix') format('embedded-opentype'),
  url(fontsFolderMuseoSans + '2AD11A_6_0.woff') format('woff'),
  url(fontsFolderMuseoSans + '2AD11A_6_0.ttf') format('truetype')

@font-face
  font-family 'MuseoSans-900'
  src url(fontsFolderMuseoSans + '2AD11A_9_0.eot')
  src url(fontsFolderMuseoSans + '2AD11A_9_0.eot?#iefix') format('embedded-opentype'),
  url(fontsFolderMuseoSans + '2AD11A_9_0.woff') format('woff'),
  url(fontsFolderMuseoSans + '2AD11A_9_0.ttf') format('truetype')

@font-face
  font-family 'Museo-300'
  src url(fontsFolderMuseo + '350BF7_1_0.eot')
  src url(fontsFolderMuseo + '350BF7_1_0.eot?#iefix') format('embedded-opentype'),
  url(fontsFolderMuseo + '350BF7_1_0.woff2') format('woff2'),
  url(fontsFolderMuseo + '350BF7_1_0.woff') format('woff'),
  url(fontsFolderMuseo + '350BF7_1_0.ttf') format('truetype')

@font-face 
  font-family 'Museo-700'
  src url(fontsFolderMuseo + '350BF7_0_0.eot')
  src url(fontsFolderMuseo + '350BF7_0_0.eot?#iefix') format('embedded-opentype'),
  url(fontsFolderMuseo + '350BF7_0_0.woff2') format('woff2'),
  url(fontsFolderMuseo + '350BF7_0_0.woff') format('woff'),
  url(fontsFolderMuseo + '350BF7_0_0.ttf') format('truetype')
  
museoSans = 'MuseoSans-300', Helvetica, Arial
museoSansB = 'MuseoSans-900', Helvetica, Arial
museoSansI = 'MuseoSans-300Italic', Helvetica, Arial
museo = 'Museo-300', Helvetica, Arial
museoB = 'Museo-700', Helvetica, Arial
