fontsFolder = '../fonts/'
fontsFolder_AvenirNextPro = 'Avenir Next Pro/'
/**
 * @license
 * MyFonts Webfont Build ID 3072972, 2015-08-10T08:11:30-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvenirNextLTPro-Regular by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-regular/
 * 
 * Webfont: AvenirNextLTPro-Heavy by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-heavy/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3072972
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 2004 - 2007 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Avenir is a trademark of Linotype GmbH
 * 
 * © 2015 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
//@import url("//hello.myfonts.net/count/2ee3cc");
  
@font-face
  font-family 'AvenirNextLTPro-Regular'
  src url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_0_0.eot')
  src url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_0_0.eot?#iefix') format('embedded-opentype'),
  url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_0_0.woff2') format('woff2'),
  url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_0_0.woff') format('woff'),
  url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_0_0.ttf') format('truetype')
  
@font-face
  font-family 'AvenirNextLTPro-Heavy'
  src url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_1_0.eot')
  src url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_1_0.eot?#iefix') format('embedded-opentype'),
  url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_1_0.woff2') format('woff2'),
  url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_1_0.woff') format('woff'),
  url(fontsFolder + fontsFolder_AvenirNextPro + '2EE3CC_1_0.ttf') format('truetype')

AvenirRegular = 'AvenirNextLTPro-Regular', Helvetica, Arial
AvenirHeavy = 'AvenirNextLTPro-Heavy', Helvetica, Arial

fGargantuan = 3em // 48px
fHuge = 2em // 32px
fBigger = 1.3125em // 21px
fBig = 1.1875em // 19px
fNormal = 1em // 16px
fSmall = 0.8125em // 13px
fMini = 0.6875em // 11px
fTiny = 0.5625em // 9px
