@import "assets/layout"
@import "assets/bulleted"

.gallery
  position relative
  height 100%
  
  .slides
    position relative
    height 100%
    z-index 1

    figure
      display none
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      margin 0
      &.active
        display block
        
      .img-wrapper
        height 100%
    
        .img
          margin 0 auto
          user-select none
          &.with-shadow
            box-shadow 1px 1px 25px 1px rgba(0,0,0,0.25)
          &.taller
            width auto
            height 100%
            
        .loader
          width 32px
          height 32px
          position absolute
          top 50%
          left 50%
          margin-top -(@height / 2)
          margin-left -(@width / 2)
        
      figcaption
        background-color #000
        color #fff
        font-size 13px
        text-align center
        position absolute
        bottom 0
        padding 15px
        box-sizing border-box
        border-radius 8px
        poninter-events none
        
  .bullets
    position fixed
    bottom 27px
    left 50%
    transform translateX(-50%)
    text-align center
    z-index 2
    bulleted()
