@import "assets/fonts"
@import "assets/bulleted"
json('../database/settings.json')

#menu
  display none
  @media screen and (min-width: unit(breakpoints-tablet, 'px'))
    position fixed
    display block
    text-align center
    z-index 3
    user-select none
    top 50%
    right 30px
    transform translateY(-50%)
    bulleted('vertical')
