@import "assets/fonts"

.no-scroll
  overflow hidden

.button 
  display block
  background-color #fff
  border 1px solid #000
  padding 10px 20px
  text-transform uppercase
  font-size fSmall
  box-shadow 2px 2px 0px 0px rgba(0, 0, 0, 0.75)
  font-family AvenirRegular
  color #000
  text-decoration none
  letter-spacing 0.03em
  line-height 100%
  outline 0
  cursor pointer
  &:hover 
    background-color spotColor
  &:active
  &.active 
    background-color spotColor
    box-shadow none
    margin-top 2px
    margin-left 2px

.img-wrapper
  box-sizing border-box
  width 100%
  
  .img
    display block
    width 100%
    height auto
    
  .loader
    display block
    margin 0 auto
    
.tag
  display inline-block
  font-size fTiny
  border-width 1px
  border-style solid
  padding 7px 10px 5px 10px
  margin-right 10px
  text-transform uppercase
  letter-spacing 0.1em
  &:last-child 
    margin-right 0
    
.cf:after
  content ""
  display table
  clear both
