#intro 
  /*display table*/
  /*height 75%*/
  height 400px
  border-top 1px solid #000

  /*h1
    display table-cell
    vertical-align middle
    text-align center
    font-family 'Museo-700', Georgia
    line-height 1.5em*/
