#intro 
  display table
  /*height 75%*/
  height 0
  width 100%

  h1
    display table-cell
    vertical-align middle
    text-align center
    font-family 'Museo-700', Georgia
    line-height 1.5em
