@import "assets/fonts"
@import "assets/colors"

html
body 
  height 100%

html 
  color #222
  font-size 1em
  line-height 1.4
  font-family museoSans

body 
  background-color #fff
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

svg 
  display block
  margin 0

.no-scroll
  overflow hidden

.button 
  display block
  background-color #fff
  border 1px solid #000
  padding 10px 20px
  text-transform uppercase
  font-size 0.8125em
  box-shadow 2px 2px 0px 0px rgba(0, 0, 0, 0.75)
  font-family museoSansB
  color #000
  text-decoration none
  letter-spacing 0.03em
  line-height 100%
  outline 0
  cursor pointer
  &:hover 
    background-color yellow
  &:active
  &.active 
    background-color yellow
    box-shadow none
    margin-top 2px
    margin-left 2px
  
#app
  margin-bottom 1000px

#content-wrapper 
  width 75%
  max-width 960px
  height 100%
  margin 0 auto
  position relative

#logo 
  position fixed
  left 20px
  top 20px
  z-index 101
