@import "assets/fonts"
json('../database/settings.json')
@import "assets/layout"

body 
  background-color #fff
  color rgba(0,0,0,0.8)
  font-family AvenirRegular
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

::selection
  background rgba(0,0,0,0.15)
  
::-moz-selection
  background rgba(0,0,0,0.15)

svg 
  display block
  margin 0

p
  font-family AvenirRegular
  font-size fNormal
  line-height 1.5em
  margin 0
  @media screen and (min-width: tablet)
    font-size fBigger
  a
    position relative
    color rgba(0,0,0,0.5)
    text-decoration underline
    transition color 100ms
    &:hover
      color rgba(0,0,0,1)
      text-decoration none

#app
  box-sizing border-box

  #layer-top
    position fixed
    height 100%
    width 100%
    left 0
    z-index 102
    box-sizing border-box
    pointer-events none
    background-color #fff
    border-width 0
    border-style solid
    border-color spotColor

#content
  position relative
  box-sizing border-box
  padding 0 30px
  @media screen and (min-width: tablet)
    padding 0 100px
  @media screen and (min-width: desktop)
    padding 0
    width 50%
    max-width 750px
    margin 0 auto
  .page
    text-align center
    > h2
      font-size fTiny
      text-transform uppercase
      font-weight normal
      letter-spacing 0.1em
      margin 0 0 20px 0 
      background-color spotColor
      display inline-block
      line-height 0
      padding-bottom 10px
      margin 50px auto
      @media screen and (min-width: tablet)
        margin 100px auto
    .page-content
      text-align left
