@import "assets/fonts"
@import "assets/colors"
@import "assets/layout"

html
  background-color spotColor
  height 100%

body 
  background-color pageBackground
  color rgba(0,0,0,0.8)
  font-family AvenirRegular
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

::selection
  background rgba(0,0,0,0.15)
  
::-moz-selection
  background rgba(0,0,0,0.15)

svg 
  display block
  margin 0

p
  font-family AvenirRegular
  font-size fNormal
  line-height 1.5em
  margin 0
  @media screen and (min-width: tablet)
    font-size fBigger
  a
    position relative
    color rgba(0,0,0,0.5)
    text-decoration underline
    transition color 100ms
    &:hover
      color rgba(0,0,0,1)
      text-decoration none

#app
  border-width 10px 
  border-style solid
  border-color spotColor
  //border-image linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%) 20
  box-sizing border-box

#logo
  position fixed
  box-sizing border-box
  top 45px
  left 20px
  margin 0
  font-size fNormal
  z-index 101
  a
    color #000
    font-family AvenirRegular
    font-size fNormal
    text-align center
    text-decoration none
    display block
    line-height 1em
    padding 5px 10px
    transition background-color 150ms,box-shadow 300ms
    span
      display block
      text-align left
      &:last-child
        font-size fMini
        color rgba(0,0,0,0.35)
        margin-top 5px
  @media screen and (min-width: tablet)
    top 40px
    left 40px
    
#content-wrapper
  position relative
  box-sizing border-box
  padding 0 20px
  @media screen and (min-width: tablet)
    padding 0 30px
  @media screen and (min-width: desktop)
    padding 0
    width 60%
    max-width 750px
    margin-left 190px
