@import "mixins/layout"
@import "assets/fonts"
@import "assets/colors"

#projects
  border-top 1px solid #000

  .project-items 
    flex()
    position relative
    z-index 2

    .project-item 
      display block
      border 2px solid #000
      background-color #fff
      z-index 2
      margin 2% 2% 20% 2%
      text-decoration none
      &.small 
        width 30%
      &.medium 
        width 40%
      &.large 
        width 60%
      &:hover
        background-color #eee

      .project-visual 
        box-sizing border-box
        width 100%
        padding 20px
        min-height 100px
        background-color #000

      .project-desc 
        padding 20px
        color #000
        h2
        p
          margin 0
          word-break break-word

#project-window
  display block
  position fixed
  z-index 99
  width 100%
  height 100%
  top 100%
  left 0
  background-color #fff
  border-top 4px solid #000

  .project-showcase-wrapper
    absoluteFull()
    
    .project-desc
      absoluteFullWidth()
      top 100px
      text-align center
      
      h2
        font-family museoB
        font-size 29px
        line-height 31px
        margin 0
        
      p
        font-family museo
        font-size 23px
        line-height 25px
        margin-top 10px
        margin-bottom 0
  
    .project-showcase
      absoluteFull()
        
      .section
        absoluteFull()
        display none
        &.active
          display block
        
        .section-inner-wrapper
          position absolute
          width 80%
          left 50%
          top 50%
          transform translate(-50%,-50%)
          
          @media screen and (min-width: tablet)
            width 50%
          
          video
            width 100%
            height auto

    .project-nav
      absoluteFullWidth()
      bottom 10%
      text-align center
      
      a
        display inline-block
        color #000
        text-decoration none
        font-size 13px
        font-family museoSans
        transition opacity 250ms
        margin-right 20px
        &:last-child
          margin-right 0
        &.active
        &:hover
          .hovered-svg-element
            fill yellow
        
        .hovered-svg-element
          transition fill 150ms
        
        span
        svg
          display block
          text-align center
          margin 0 auto
        
        span
          margin-top 10px
          
        @media screen and (min-width: tablet)
          margin-right 50px
          
          span
          svg
            display inline-block
            vertical-align middle
            margin 0
          
          svg
            margin-right 10px
        
  .projects-adjacent-nav
    position fixed
    top 33px
    right 85px
    
    a
      display inline-block
      &.prev
        margin-right 50px
      
      span
        display none
        
  .project-footer
    absoluteFullWidth()
    bottom 25px
    
    p
      color #ccc
      font-size 10px
      line-height 17px
      text-align center
      margin 0
      
      svg
        display inline-block
        vertical-align middle
