@import "assets/fonts"
@import "assets/colors"
@import "assets/layout"
@import "assets/bulleted"

#project-window
  display block
  position fixed
  z-index 99
  width 100%
  height 100%
  top 100%
  left 0
  background-color #fff
  border-width 10px
  border-style solid
  border-color #000
  box-sizing border-box
  
  .project-wrapper
    absoluteFull()
  
    .project-desc
      position absolute
      right 40px
      top 40px
      text-align right
      
      h2
        font-family AvenirRegular
        font-size fNormal
        margin 0
        
      h3
        display inline-block
        font-family AvenirRegular
        font-weight normal
        font-size fSmall
        margin-top 5px
        margin-bottom 0

    .project-showcase
      absoluteFull()
      z-index 1
        
      .project-section
        absoluteFull()
        display none
        overflow hidden
        &.active
          display block
        
        > .section-inner-wrapper
          position relative
          width calc(100% - 160px)
          max-width 800px
          height calc(100% - 240px)
          margin 0 auto
          top 120px
          box-sizing border-box
          /*@media screen and (min-width: tablet)
            top 20%
            height 70%
            width calc(100% - 240px)*/
            
    .project-nav
      position absolute
      text-align center
      z-index 2
      user-select none
      top 50%
      right 30px
      transform translateY(-50%)
      bulleted('vertical')
        
    .projects-adjacent-nav
      display none
      position fixed
      top 33px
      right 0
      z-index 100
      /*@media screen and (min-width: tablet)
        display block*/
      
      a
        display inline-block
        &.prev
          margin-right 50px
        
        span
          display none
