@import "mixins/layout"
@import "assets/fonts"

#projects
  border-top 1px solid #000

  .project-items 
    flex()
    position relative
    z-index 2

    .project-item 
      display block
      width 100%
      border 2px solid #000
      background-color #fff
      z-index 2
      margin 2% 2% 20% 2%
      text-decoration none
      @media screen and (min-width: tablet)
        &.small 
          width 30%
        &.medium 
          width 40%
        &.large 
          width 60%
        &:hover
          background-color #eee

      .project-visual 
        box-sizing border-box
        width 100%
        padding 20px
        min-height 100px
        background-color #000

      .project-desc 
        padding 20px
        color #000
        h2
        p
          margin 0
          word-break break-word

