@import "assets/fonts"
@import "assets/colors"
@import "assets/layout"
@import "assets/bulleted"

#project-window
  display block
  position fixed
  z-index 99
  width 0
  height 100%
  top 0
  left 0
  background-color transparent

.project-window-opened
  #project-window
    width 100%
  
  .layer
    position absolute
    height 100%
    width 100%
    top 0
    left -100%
    
  #layer3
    background-color transparent
    left 0
    border-width 0
    border-style solid
    border-color #fff
    box-sizing border-box
    pointer-events none
    z-index 4

  #layer2
    background-color #fff
    z-index 3
  
  #layer1
    background-color spotColor
    z-index 1
    
  .project-wrapper
    absoluteFull()
    z-index 2
  
    .project-head
      position absolute
      right 40px
      top 40px
      text-align right
      z-index 2
      user-select none
      
      h2
        font-family AvenirRegular
        font-size fNormal
        margin 0
        
      h3
        display inline-block
        font-family AvenirRegular
        font-weight normal
        font-size fSmall
        margin-top 5px
        margin-bottom 0
    
    .project-guide
      visibility hidden
      position absolute
      box-sizing border-box
      width 100%
      text-align center
      z-index 1
      
      p
        display inline-block
        font-size fTiny
        text-transform uppercase
        letter-spacing 0.1em
        background-color #000
        color rgba(255,255,255,0.75)
        padding 5px 10px
        border-radius 6px

    .project-sections
      absoluteFull()
      z-index 1
        
      .project-section
        absoluteFull()
        display none
        overflow hidden
        &.active
          display block
        
        .section-content-wrapper
          position relative
          //width calc(100% - 160px)
          max-width 800px
          //height 100%
          margin 0 auto
          box-sizing border-box
          //overflow hidden
          width calc(100% - 160px)
          height calc(100% - 240px)
          top 120px
          /*@media screen and (min-width: tablet)
            top 20%
            height 70%
            width calc(100% - 240px)*/
            
    .project-nav
      position absolute
      text-align center
      z-index 2
      user-select none
      top 50%
      right 30px
      transform translateY(-50%)
      bulleted('vertical')
        
    .project-helper-nav
      a
        display inline-block
        color rgba(0,0,0,0.25);
        font-size fTiny
        text-transform uppercase
        text-decoration none
        letter-spacing 0.01em
        margin-left 5px
