@import "assets/layout"
@import "assets/fonts"
json('../database/settings.json')

#projects
  .page-content
    
    .project-item 
      position relative
      display block
      width 100%
      margin-bottom 50px
      z-index 2
      text-decoration none
      &:last-child
        margin-bottom 0
      @media screen and (min-width: tablet)
        margin-bottom 100px
            
      .project-visual
        position relative
        
        .img-wrapper
          background-color #eee
          padding-bottom 66.66%
          
          .img
            position absolute
          
          .loader
            position absolute
            top 50%
            left 50%
            margin-left -19px
            margin-top -19px

      .project-head 
        position relative
        margin-top -10px
        padding-left 20px
        color #000
        z-index 1
        
        h3
          margin 0
          font-family AvenirHeavy
          font-size fHuge
          font-weight normal
          line-height fSmall
          letter-spacing -0.03em
          @media screen and (min-width: tablet)
            font-size fGargantuan
          @media screen and (min-width: desktop)
            font-size fColossal
          
        p
          margin 0
          margin-top 5px
          margin-left 10px
          font-size fSmall

